    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* To insert Ozon's font */
        font-family: "century-gothic", sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #000;
    }
    
    .container {
        height: 100vh;
        padding: 20px;
        display: flex;
        flex-flow: column;
        background: #fff;
    }
    
    .card-title {
        position: absolute;
    }
    
    .card-body {
        /* As child */
        flex: 1 1 auto;
        /* As parent */
        display: flex;
    }
    
    .progress-ring {
        flex: 1 1 auto;
        align-self: center;
        display: flex;
        max-width: 160px;
        height: 160px;
    }
    
    .progress-ring-circles {
        fill: none;
        stroke-width: 10px;
        transform-origin: center;
        transform: rotate(-90deg);
    }
    
    #progress-ring-circle-back {
        stroke: rgba(0, 26, 52, 0.1);
    }
    
    #progress-ring-circle {
        stroke: #005bff;
        z-index: 999;
    }
    
    .progress-controls {
        flex: 1 1 auto;
        align-self: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        max-width: 160px;
        height: 160px;
        margin: auto;
    }
    /* For portrait */
    
    @media screen and (orientation: portrait) {
        .card-body {
            flex-direction: column;
            margin: 60px auto;
        }
        .progress-ring {
            margin: 0 auto auto;
        }
    }
    /* For landscape */
    
    @media screen and (orientation: landscape) {
        .card-body {
            flex-direction: row;
            margin: auto 60px;
        }
        .progress-ring {
            margin: auto auto auto 0;
        }
    }
    /* Custom Input fields*/
    
    .progress-input {
        width: 46px;
        height: 30px;
        margin-right: 20px;
        border-radius: 100em;
        text-align: center;
        border-color: #000;
        border-width: 1px;
    }
    
    .progress-input::-webkit-inner-spin-button,
    .progress-input::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
    
    .progress-controls-row {
        position: relative;
        display: inline-block;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    
    .progress-switch-input {
        display: none;
    }
    
    .progress-switch-label {
        display: inline-block;
        margin-right: 20px;
        width: 46px;
        height: 30px;
        color: transparent;
        user-select: none;
    }
    
    .progress-switch-label::before,
    .progress-switch-label::after {
        content: "";
        display: block;
        position: absolute;
        cursor: pointer;
    }
    
    .progress-switch-label::before {
        width: 46px;
        height: 30px;
        background-color: rgba(0, 26, 52, 0.1);
        border-radius: 100em;
        transition: background-color 0.25s ease;
    }
    
    .progress-switch-label::after {
        top: 2px;
        left: 2px;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background-color: #fff;
        transition: left 0.25s ease;
    }
    
    .progress-switch-input:checked+.progress-switch-label::before {
        background-color: #005bff;
    }
    
    .progress-switch-input:checked+.progress-switch-label::after {
        left: 18px;
    }